<form id="complex-form" class="hxrpost form-horizontal" method="post" action="<%= url_for "/edit_complex/#{complex.id}" %>" role="form">

<fieldset>

<div class="form-group">
  <label for="" class="control-label col-sm-3">Path</label>
  <div class="col-sm-8">
    <div class="input-group">
      <span class="input-group-addon">/</span>
      <input type="text" class="form-control" name="service_name" <%= complex.service %> />
      <span class="input-group-addon">/</span>
      <input type="text" class="form-control" name="section_name" <%= complex.section %> />
      <span class="input-group-addon">/</span>
      <input type="text" class="form-control" name="graph_name" <%= complex.graph %> />
    </div>
    <p class="help-block">Graph's URI(service name/section name/graph name)</p>
  </div>
</div>

<div class="form-group">
  <label for="" class="col-sm-3 control-label">Description</label>
  <div class="col-sm-9">
    <input type="text" class="form-control" name="description" <%= complex.description %> />
  </div>
</div>

<div class="form-group">
  <label for="" class="control-label col-sm-3">Display sum up value</label>
  <div class="col-sm-4">
    <select name="sumup" class="form-control">
    <option value="0" <%= selected?(complex.sumup, false) %>>disable</option>
    <option value="1" <%= selected?(complex.sumup, true ) %>>enable</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="" class="control-label col-sm-3">Display order</label>
  <div class="col-sm-4">
    <select name="sort" class="form-control">
    <% (0..19).map(&:to_i).reverse.each do |i| %>
      <option value="<%= i %>" <%= selected?(complex.sort, i) %>><%= i %></option>
    <% end %>
    </select>
    <p class="help-block">19 is top</p>
  </div>
</div>

</fieldset>

<fieldset>
<legend>Data</legend>

<div class="form-group">
<label for="" class="control-label col-sm-2">Series-1</label>
<div class="col-sm-10">

<% first_row = complex.data_rows.first %>

<table class="table table-bordered table-striped">
<tr>
<th style="width: 6%;">&nbsp;</th>
<th style="width: 18%;">Type</th>
<th style="width: 62%;">Path</th>
<th style="width: 13%; text-align: center">Mode</th>
</tr>
<tr>
<td>&nbsp;</td>
<td><select name="type-1" class="form-control">
<option value="AREA" <%= selected?(first_row[:type], 'AREA') %>>AREA</option>
<option value="LINE1" <%= selected?(first_row[:type], 'LINE1') %>>LINE</option>
<option value="LINE2" <%= selected?(first_row[:type], 'LINE2') %>>LINE(Bold)</option>
</select></td>
<td><select name="path-1" class="form-control">
<% graphs.each do |graph| %>
<option value="<%= graph.id %>" <%= selected?(first_row[:path], graph.id) %>>/<%= graph.service %>/<%= graph.section %>/<%= graph.graph %></option>
<% end %>
</select></td>
<td style="text-align: center"><select name="gmode-1" class="form-control">
<option value="gauge" <%= selected?(first_row[:mode], 'gauge') %>>Gauge</option>
<option value="subtract" <%= selected?(first_row[:mode], 'subtract') %>>Subtract</option>
</select></td>
</tr>
</table>
</div>
</div>

<div class="form-group">
<label for="" class="control-label col-sm-2">Series-2 and more</label>
<div class="col-sm-10">

<table class="table table-bordered table-striped" id="add-data-tbl">
<tr>
<th style="width: 6%;">&nbsp;</th>
<th style="width: 18%;">Type</th>
<th style="width: 39%;">Path</th>
<th style="width: 12%; text-align: center;">Mode</th>
<th style="width: 12%; text-align: center;">Stack</th>
<th style="width: 12%; text-align: center;">&nbsp;</th>
</tr>

<tr>
<td>&nbsp;</td>
<td><select name="type-add" id="type-add" class="form-control">
<option value="AREA">AREA</option>
<option value="LINE1">LINE</option>
<option value="LINE2">LINE(Bold)</option>
</select></t>
<td><select name="path-add" id="path-add" class="form-control">
<% graphs.each do |graph| %>
<option value="<%= graph.id %>">/<%= graph.service %>/<%= graph.section %>/<%= graph.graph %></option>
<% end %>
</select></td>
<td style="text-align: center"><select name="gmode-add" id="gmode-add" class="form-control">
<option value="gauge">Gauge</option>
<option value="subtract">Subtract</option>
</select></td>
<td style="text-align:center;"><select name="stack-add" id="stack-add" class="form-control">
<option value="1">enable</option>
<option value="0">disable</option>
</select>
</td>
<td style="text-align:center;"><button id="add-new-row" class="btn btn-default" style="padding: 3px 14px 4px;">追加</button></td>
</tr>

<% complex.data_rows[1..-1].each do |row| %>
<tr class="can-table-order">
<td><span class="table-order-pointer table-order-up">⬆</span><span class="table-order-pointer table-order-down">⬇</span></td>
<td><%= case row[:type] when 'AREA' then 'AREA' when 'LINE1' then 'LINE' else 'LINE(Bold)' end %><input type="hidden" name="type-2[]" value="<%= row[:type] %>"/></td>
<% graph = dic[row[:graph_id]] %>
<td>/<%= graph.service %>/<%= graph.section %>/<%= graph.graph %><input type="hidden" name="path-2[]" value="<%= row[:path] %>"/></td>
<td style="text-align:center"><%= row[:gmode] == 'gauge' ? 'Gauge' : 'Subtract' %><input type="hidden" name="gmode-2[]" value="<%= row[:gmode] %>" /></td>
<td style="text-align:center"><%= row[:stack] ? 'enable' : 'disable' %><input type="hidden" name="stack-2[]" value="<%= row[:stack] ? 1 : 0 %>" /></td>
<td style="text-align:center"><span class="table-order-remove">✖</span></td>
</tr>
<% end %>

</table>
</div>
</div>

</fieldset>

<fieldset>
<legend>Preview</legend>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div id="preview-graph"></div>
  </div>
</div>

</fieldset>

<hr />

<div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <input type="submit" class="btn btn-primary" value="Submit" />
    <a href="<%= url_for linkpath([complex.service, complex.section]) %>" class="btn btn-default">Cancel</a>
    <button type="button" class="btn btn-danger hxr_confirm_button" data-confirm="Remove '<%= complex.graph %>'?" data-uri="<%= url_for "/delete_complex/#{complex.id}" %>">Remove</button>
  </div>
</div>

</form>
<br />
<br />
