<form class="hxrpost form-horizontal" method="post" action="<%= url_for linkpath(graph.path, '/edit') %>" role="form">

<fieldset>

<div class="form-group">
  <label for="" class="col-sm-3 control-label">Path</label>
  <div class="col-sm-8">
    <div class="input-group">
      <span class="input-group-addon">/</span>
      <input type="text" class="form-control" name="service_name" value="<%= graph.service %>" />
      <span class="input-group-addon">/</span>
      <input type="text" class="form-control" name="section_name" value="<%= graph.section %>" />
      <span class="input-group-addon">/</span>
      <input type="text" class="form-control" name="graph_name" value="<%= graph.graph %>" />
    </div>
    <p class="help-block">Graph's URI(service name/section name/graph name)</p>
  </div>
</div>

<div class="form-group">
  <label for="" class="col-sm-3 control-label">Description</label>
  <div class="col-sm-9">
    <input type="text" class="form-control" name="description" value="<%= graph.description %>" />
  </div>
</div>

<div class="form-group">
  <label for="" class="col-sm-3 control-label">Display order</label>
  <div class="col-sm-4">
    <select name="sort" class="form-control">
    <% (0..19).map(&:to_i).reverse.each do |i| %>
      <option value="<%= i %>" <%= selected?(graph.sort, i) %>><%= i %></option>
    <% end %>
    </select>
    <p class="help-block">19 is top</p>
  </div>
</div>

<div class="form-group">
  <label for="" class="col-sm-3 control-label">Data adjustment</label>
  <div class="col-sm-7">
    <div class="input-group">
      <span class="input-group-static">Value</span>
      <select name="adjust" class="form-control">
        <option value="*" <%= selected?(graph.adjust, '*') %>>×</option>
        <option value="/" <%= selected?(graph.adjust, '/') %>>÷</option>
      </select>
      <span class="input-group-static" style="padding: 0"></span>
      <input type="text" class="form-control" name="adjustval" value="<%= graph.adjustval %>" />
      <span class="input-group-static">unit</span>
      <input type="text" class="form-control" name="unit" value="<%= graph.unit %>" />
    </div>
  </div>
</div>

<div class="form-group">
  <label for="" class="col-sm-3 control-label">Color</label>
  <div class="col-sm-3">
    <div class="input-group">
      <input type="text" name="color" id="form--color" class="form-control color_pallet" value="<%= graph.color %>" />
    </div>
    <p class="help-block">#000000-#FFFFFF</p>
  </div>
</div>

<div class="form-group">
  <label for="" class="col-sm-3 control-label">Type</label>
  <div class="col-sm-4">
    <select name="type" class="form-control">
      <option value="AREA" <%=  selected?(graph.type, 'AREA') %>>AREA</option>
      <option value="LINE1" <%= selected?(graph.type, 'LINE1') %>>LINE</option>
      <option value="LINE2" <%= selected?(graph.type, 'LINE2') %>>LINE(Bold)</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="" class="control-label col-sm-3">Effective range</label>
  <div class="col-sm-6">
    <div class="input-group">
     <input type="text" class="form-control" name="llimit" value="<%= graph.llimit %>" />
     <span class="input-group-static">〜</span>
     <input type="text" class="form-control" name="ulimit" value="<%= graph.ulimit %>" />
    </div>
  </div>
</div>

</fieldset>

<hr />

<div class="form-group">
  <div class="col-sm-offset-3 col-sm-6">
    <input type="submit" class="btn btn-default btn-primary" value="Submit" />
    <a href="<%= url_for linkpath([graph.service, graph.section]) %>" class="btn btn-default">Cancel</a>
    <button type="button" class="btn btn-default btn-danger hxr_confirm_button" data-confirm="remove '<%= graph.graph %>'?" data-uri="<%= url_for linkpath(graph.path, '/delete') %>">remove</button>
  </div>
</div>

</form>
<br />
<br />
