<div class="panel-group">
<% services.each do |service| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
    <% if pathinfo.size < 1 %>
    <a href="#service_<%= service[:name] %>" id="for_service_<%= service[:name] %>" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down" style="font-size:0.5em; vertical-align: text-middle"></span></a>
    <% end %>
    <a href="<%= url_for linkpath([service[:name]]) %>"><%= service[:name] %></a>
    </h2>
  </div>
  <ul class="<%= pathinfo.size < 1 ? 'service_section ' : '' %>list-group panel-collapse in" id="service_<%= service[:name] %>">
    <% service[:sections].each do |section| %>
    <li class="list-group-item "><a href="<%= url_for linkpath([ service[:name], section ]) %>"><%= section %></a></li>
    <% end %>
  </ul>
</div>
<% end %>
</div>
