<ul class="pagination pagination-sm pull-right" style="margin: 10px 0px 0px">
  <% section_path = linkpath(pathinfo[0..1]) %>
  <li class="prev <%= params[:t] == 'sh' ? 'active' : '' %>"><a href="<%= url_for section_path, t:'sh' %>">hour・8hours(1min)</a></li>
  <li class="prev <%= params[:t] == 'sd' ? 'active' : '' %>"><a href="<%= url_for section_path, t:'sd' %>">day・3days(1min)</a></li>
  <li class="prev <%= params[:t] == 'h' ? 'active' : '' %>"><a href="<%= url_for section_path, t:'h' %>">hour・halfday</a></li>
  <li class="<%= ['h','m','sh','sd'].include?(params[:t]) ? '' : 'active' %>"><a href="<%= url_for section_path %>">day・week</a></li>
  <li class="next <%= params[:t] == 'm' ? 'active' : '' %>"><a href="<%= url_for section_path, t:'m' %>">month・year</a></li>
</ul>
<div class="clearfix"></div>
<br />

<% term_arg = params[:t] ? { t: params[:t] } : {} %>
<div class="panel-group">
  <% graphs.each do |graph| %>
  <%# : my $index = $~graph.index; %> <!-- index? -->
  <%== erb :view, layout: false, locals: { graph: graph, listing: true, current_term: params[:t] } %>
  <% end %>
</div>

<p style="text-align: right;margin:20px 0px">
  <button type="button" class="btn btn-default btn-danger btn-sm hxr_confirm_button" data-confirm="remove all graphs in '<%= params[:section_name] %>' section?" data-uri="<%= url_for linkpath(pathinfo[0..1], '/delete') %>"><span class="glyphicon glyphicon-warning-sign"></span> remove all graphs in this section</button>
</p>
