<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
    <% if listing %>
    <a href="#graph_<%= graph.complex? ? 'complex_' : '' %><%= graph.id %>" id="for_graph_<%= graph.complex? ? 'complex_' : '' %><%= graph.id %>" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down" style="font-size:0.5em; vertical-align: text-middle"></span></a>
    <% end %>
    <% view_prefix = graph.complex? ? '/view_complex' : '/view_graph' %>
    <a href="<%= url_for linkpath(graph.path, view_prefix), { t: current_term } %>" data-id="<%= graph.id %>"><%= graph.graph %></a>
    <small style="font-size:0.8em"><%= graph.description %></small>
    </h2>
  </div>
</div>

<p style="margin: 2px 0px 4px">
  <% if graph.complex? %>
    <a class="label label-success" style="cursor: pointer" href="<%= url_for "/edit_complex/#{graph.id}" %>"><span class="glyphicon glyphicon-wrench"></span> Setting</a>
    <span class="label label-warning">Complex Graph</span>
    <a class="label label-info" style="cursor: pointer" href="<%= url_for("/xport/#{graph.complex_graph}", t: current_term, sumup: graph.sumup) %>"><span class="glyphicon glyphicon-share"></span> JSON</a>
  <% else %>
    <a class="label label-success" style="cursor: pointer" href="<%= url_for linkpath(graph.path, '/edit') %>"><span class="glyphicon glyphicon-wrench"></span> Setting</a>
    <a class="label label-info" style="cursor: pointer" href="<%= url_for("/xport/#{graph.service}/#{graph.section}/#{graph.graph}") %>"><span class="glyphicon glyphicon-share"></span> JSON</a>
    <span class="label label-default">current</span> <%= format_number graph.number %>
    <span class="label label-default">mode</span> <%= graph.mode %>
  <% end %>
  <span class="label label-default">created_at</span> <%= graph.created_at %>
  <span class="label label-default">updated_at</span> <%= graph.updated_at %>
</p>

<div id="graph_<%= graph.complex? ? 'complex_' : '' %><%= graph.id %>" class="<%= listing ? 'section_graphs' : '' %>panel-collapse in">
  <table style="margin: 0 auto 10px">
    <% terms = case current_term when 'h' then ['h','n'] when 'm' then ['m','y'] when 'sh' then ['sh','s8h'] when 'sd' then ['sd','s3d'] else ['d','w'] end %>
    <% if graph.complex? %>
      <tr>
        <td><img src="<%= url_for("/graph/#{graph.complex_graph}", t: terms[0], sumup: (graph.sumup ? '1' : '0')) %>" class="graph" /></td>
        <td><img src="<%= url_for("/graph/#{graph.complex_graph}", t: terms[1], sumup: (graph.sumup ? '1' : '0')) %>" class="graph" /></td>
      </tr>
    <% else %>
      <tr>
        <td><img src="<%= url_for linkpath(graph.path, '/graph'), t: terms[0] %>" class="graph" /></td>
        <td><img src="<%= url_for linkpath(graph.path, '/graph'), t: terms[1] %>" class="graph" /></td>
      </tr>
    <% end %>
  </table>
</div>
